<!doctype html>
<html>
	<head>
			<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<link href="Css/forsheet.css">
	</head>
	<body ng-app="myApp">
		<div   ng-submit="submit()"  ng-controller="myctrl">
			<input ng-model="name" type="text" >
		
			
			<hr/>
			<div>gender</div>
			<input type="radio" ng-model="place" value="male" /> <span>male</span>
			<input type="radio" ng-model="place" value="Female"/> <span>Female</span>
			<input type="radio" ng-model="place" value="unknown"/> <span>unknown</span>
			<hr/>
			
			<div>birthday </div>
			<span>year</span>
			<select id="selectyear" onchange="leapyearotnot();" ng-model="year" class="selecttype"></select>
			<span>month</span>
			<select id="selectmon" onchange="setdate();"  ng-model="mon" class="selecttype" ></select>
			<span>date</span>
			<select id="selectdate"  ng-model="dat" class="selecttype"></select>
			
			
			<script src="sheetmember/date.js"> onloadinit();</script>
			
			
			<hr/>
			
			
					
					<div>name:
					
					<span ng-bind="name"></span>
					</div>
					
					<div>gender:
					
					<span ng-bind="place"></span>
					</div>
					<div>birth:
					
					<span ng-bind="year"></span>
					<span ng-bind="mon"></span>
					<span ng-bind="dat"></span>
					</div>
					
		</div>
		<script>
				var app=angular.module('myApp',[]);
				app.controller('myctrl',function($scope){
					$scope.name="your name";
					$scope.place="male";
					$scope.year=""+(new Date().getFullYear());
					$scope.mon="1";
					$scope.dat="1";
					
				}
				);
		</script>
	
	</body>


</html>